@use './variaveis' as *;



// Colunas
.coluna {
  background-color: $background;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: $borda-arrendondada;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  h2 {
    font-size: 1.25rem;
    color: $cor-destaque;
    text-align: center;
  }
}

.colunas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  min-height: 100vh;
  flex-wrap: wrap;
}