@use './variaveis' as *;

// Barra de navegação
.barra {
  background-color: $principal;
  color: $background;
  font-size: 0.875rem; // 14px equivalente
  height: 3rem; // 48px
  width: 100%;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 0 2rem;
    margin: 0;
    height: 100%;
    align-items: center;
  }

  li {
    list-style: none;

    a {
      color: $background;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: lighten($background, 20%);
      }
    }
  }
}
