@use './variaveis' as *;

// Container principal
.conteiner {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $principal;

  .titulo {
    font-size: 1.5rem;
    font-family: $font-principal;
    font-weight: 600;
    color: $background;
    margin-bottom: 1rem;
  }
}